<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"/> 
    <classes>
 <class name="com.phptravels.scripts.TCCustomer"/> 
 <class name="com.phptravels.scripts.TCAgent"/>
      <class name="com.phptravels.scripts.TCAdmin"/>
      <class name="com.phptravels.scripts.TCSupplier"/>
      <class name="com.phptravels.scripts.TestBase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
